* {
    box-sizing: border-box;
}

:root {
    --bg-color: #444;
    --bg-color-2: #999;
    --bg-color-3: #ddd;
    --text-color: #fff;
    --text-color-2: #000;
    --nav-color: #111;
    --background-carousel: #ddd;
    --footer-color: #111;
}

body, header, nav, ul, li, a, span, section, div, main, footer, aside, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    background: linear-gradient(to bottom, var(--bg-color), var(--bg-color-2), var(--bg-color-3));
    font-family: "Montserrat";
    min-height: 100vh;
    scroll-behavior: smooth;
}

/* HEADER */

.header {
    background-color: var(--nav-color);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    align-items: center;
    height: 90px;
    width: 100%;
    animation: header-movement forwards;
    animation-timeline: scroll();
    animation-range: 10px 100px;
}

.header__logo-container {
    display: block;
    position: relative;
    z-index: 10;
    width: clamp(90px, 90%, 100px);
    margin: auto 30px;
    filter: contrast(1.5);
}

.header__logo-img {
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 0;
    max-width: 90%;
    width: clamp(70px, 50%, 200px);
    border-radius: 50%;
    border: 5px solid #111;
    filter: drop-shadow(0 0 4px #111) contrast() invert();
}

.header__nav {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header__nav-list {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item:hover {
    outline: 2px solid #fff;
    border-radius: 5px;
    filter: drop-shadow(0 0 4px #000);
}

.link > span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    filter: drop-shadow(0 0 1px #222);
}    

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.9rem;
    filter: drop-shadow(0 0 5px #aaa);
    text-align: center;
}

/* MAIN SECTION */

.profile {
    min-height: 100vh;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px 0px;
    container-name: main;
    container-type: inline-size;
}

.profile__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.profile__title, .profile__subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5rem;
    font-weight: 600;
    text-shadow: 0 0 10px #000;
    filter: drop-shadow(0 0 2px #fff);
    font-style: oblique;
    letter-spacing: 8px;
    border-radius: 0px;
    text-align: center;
}

.profile__title {
    display: grid;
    grid-column: 1/4;
    background-color: #222;
}

.profile__subtitle {
    font-size: 2rem;
    text-decoration: underline;
    padding: 0;
    margin: 20px auto;
}

.profile__image-1 {
    display: grid;
    grid-column: 1/2;
    margin: auto;
    background-image: url(/assets/img/8.png);
    background-position: center;
    background-size: cover;
    width: 550px;
    height: 700px;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(0 0 20px #000);
}

.profile__image-2 {
    display: grid;
    grid-column: 3/4;
    margin: auto;
    background-image: url(/assets/img/9.png);
    background-position: center;
    background-size: cover;
    width: 550px;
    height: 700px;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(0 0 20px #000);
}

.profile__image-1:hover {
    opacity: .9;
    filter: drop-shadow(0 0 10px #fff);
}

.profile__image-2:hover {
    opacity: .9;
    filter: drop-shadow(0 0 10px #fff);
}

.profile__description {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #222;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 20px auto;
}

.profile__text-a {
    font-size: 1.06rem;
    padding: 0 15px;
    margin: 0;
    text-align: center;
}

.profile__text-b {
    font-size: 1.06rem;
    padding: 0 15px;
    margin: 0;
    text-align: center;
}

.profile__text-c {
    font-size: 1.06rem;
    padding: 0 15px;
    margin: 0;
    text-align: center;
}

.profile__text-d {
    font-size: 1.06rem;
    padding: 0 15px;
    margin: 0;
    text-align: center;
}

.profile__text-e {
    font-size: 1.06rem;
    padding: 0 15px;
    margin: 0;
    text-align: center;
}

.profile__text-f {
    font-size: 1.06rem;
    padding: 0 15px;
    margin: 0;
    text-align: center;
}

/* FOOTER SECTION */

footer {
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    background-color:var(--footer-color);
    color: #fffd;
    font-size: 1.1rem;
    border-top: 2px solid #fff;
    filter: drop-shadow(0 0 5px #fff);
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 1% contain 1%;
    container-name: footer;
    container-type: inline-size;
}

footer p {
    padding: 10px;
    text-align: center; 
    justify-content: center;
    align-items: center;
    margin: auto;
}

.button{
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    margin: auto;
}

.button:hover{
    opacity: .9;
}

.button img {
    width: 100%;
    margin: auto;
}


@media screen and (max-width: 600px) {
    body {
        user-select: none;
    }

    .header {
        height: 10vh;
        width: auto;
    }

    .header__logo-container {
        display: none;
    }

    .header__nav{
        width: auto;
        margin: auto;
        padding: 0px;
    }

    .header__nav-list {
        gap: 10px 30px;
        width: auto;
        height: 100%;
    }

    .header__nav-item:active {
        outline: 2px solid #fff;
        border-radius: 5px;
        filter: drop-shadow(0 0 4px #000);
    }

    .link > span {
        font-size: 1.4rem;
        filter: drop-shadow(0 0 1px #222);
    }    

    .link {
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        text-decoration: none;
        color: var(--text-color);
        font-size: 1rem;
        filter: drop-shadow(0 0 5px #aaa);
    }
}

@container main (max-width:600px) {
    .profile {
        min-height: 100vh;
        margin: 0;
        margin-bottom: 50px;
        padding: 0;
    }

    .profile__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .profile__title, .profile__subtitle {
        font-family: 'Courier New', Courier, monospace;
        font-size: 2.6rem;
        font-weight: 600;
        text-shadow: 0 0 10px #000;
        filter: drop-shadow(0 0 2px #fff);
        font-style: oblique;
        letter-spacing: 6px;
        text-align: center;
        margin: 0;
        border-radius: 0;
    }

    .profile__title {
        display: flex;
        margin: 0;
        padding: 10px;
        background-color: #222;
    }

    .profile__subtitle {
        font-size: 2rem;
        text-decoration: underline;
        padding: 0;
        margin: 20px auto;
    }

    .profile__image-1 {
        display: flex;
        margin: 5px auto;
        margin-top: 10px;
        background-image: url(/assets/img/8.png);
        width: 20em;
        height: 25em;
        border-radius: 0px;
        filter: drop-shadow(0 0 25px #000);
        border: 10px solid #ccc;
    }

    .profile__image-2 {
        display: flex;
        margin: 10px auto;
        background-image: url(/assets/img/9.png);
        width: 20em;
        height: 25em;
        border-radius: 0;
        filter: drop-shadow(0 0 25px #000);
        border: 10px solid #ccc;
    }

    .profile__image-1:hover {
        opacity: .9;
        filter: drop-shadow(0 0 10px #fff);
        border: 10px solid #222;

    }

    .profile__image-2:hover {
        opacity: .9;
        filter: drop-shadow(0 0 10px #fff);
        border: 10px solid #222;

    }

    .profile__description {
        display: flex;
        flex-direction: column;
        background-color: #222;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 10px;
    }

    .profile__text-a {
        font-size: 1.06rem;
        padding: 0 15px;
        margin: 0;
        text-align: center;
    }

    .profile__text-b {
        font-size: 1.06rem;
        padding: 0 15px;
        margin: 0;
        text-align: center;
    }

    .profile__text-c {
        font-size: 1.06rem;
        padding: 0 15px;
        margin: 0;
        text-align: center;
    }

    .profile__text-d {
        font-size: 1.06rem;
        padding: 0 15px;
        margin: 0;
        text-align: center;
    }

    .profile__text-e {
        font-size: 1.06rem;
        padding: 0 15px;
        margin: 0;
        text-align: center;
    }

    .profile__text-f {
        font-size: 1.06rem;
        padding: 0 15px;
        margin: 0;
        text-align: center;
    }
}


@container footer (max-width:600px) {
    
    footer {
        padding: 20px 0;
        text-align: center;
        background-color:var(--footer-color);
        color: #fffd;
        font-size: 1rem;
        border-top: 2px solid #fff;
    }

    footer p {
        font-size: .9rem;
    }
}

/* ANIMATIONS */

@keyframes header-movement {
    form {background-color: var(--nav-color);}
    to {background-color: #0009;}
}

@keyframes aparecer {
    from {opacity: 0;}
    to {opacity: 1;}
}